/* src/components/Header.css */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.RegistraTuPyme {
  font-size: 65px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}

.bolas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.Bola1, .Bola2, .Bola3 {
  width: 45px;
  height: 45px;
  background: #9091DD;
  border-radius: 50%;

}

.Bola2, .Bola3 {
  filter: blur(2px);
}

.Linea1, .Linea2 {
  width: 40px;
  border: 1px solid #9091DD;
}

