/* src/App.css */
.app-container {
  display: flex;
  height: 100vh;
}

.rectangulo-container {
  background: rgba(0, 150, 255, 0.57);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.rectangulo1 img {
  max-width: 90%;
  align-self: flex-end;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
